<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 业务编号计数器；使用单条语句原子递增并返回编号。 -->
<mapper namespace="com.lingan.ucp.nocode.runtime.dal.mapper.BusinessCounterMapper">
    <select id="lockField" resultType="java.lang.Object" useCache="false" flushCache="true">
        SELECT pg_advisory_xact_lock(hashtextextended(#{name}, 0))
    </select>
    <select id="nextConfigured" resultType="_long" useCache="false" affectData="true" flushCache="true">
        INSERT INTO public.nocode_business_counter(object_id, field_id, period_key, next_value, creator, updater)
        VALUES (#{object}, #{field}, #{period}, #{start}, #{actor}, #{actor})
        ON CONFLICT(object_id, field_id, period_key)
        DO UPDATE SET next_value = GREATEST(nocode_business_counter.next_value + 1, #{start}),
            updater = #{actor}, update_time = clock_timestamp()
        RETURNING next_value
    </select>

    <select id="numberExists" resultType="_boolean" useCache="false">
        SELECT EXISTS(SELECT 1 FROM ${table} WHERE ${column} = #{value})
    </select>

    <select
            id="next"
            parameterType="org.apache.ibatis.binding.MapperMethod$ParamMap"
            resultType="_long"
            useCache="false"
            affectData="true"
            flushCache="true">
        INSERT INTO public.nocode_business_counter(object_id, field_id, period_key, next_value, creator, updater)
        VALUES (#{object}, #{field}, #{period}, 1, #{actor}, #{actor})
        ON CONFLICT(object_id, field_id, period_key)
        DO UPDATE
        SET next_value = nocode_business_counter.next_value + 1, updater = #{actor}, update_time = clock_timestamp()
        RETURNING next_value
    </select>

</mapper>
