<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingan.ucp.module.system.legacy.mapper.SysMessageMapper">

    <!-- 增加已读数 -->
    <update id="incrementReadCount">
        UPDATE sys_message
        SET read_count = read_count + 1
        WHERE id = #{messageId}
    </update>

</mapper>
